{# templates/react/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<script>
    // Convertit les annonces JSON en objet JavaScript
        var annoncesData = {{ annonces|json_encode|raw }};
</script>
<div id="root"></div>
{% endblock %}

