.annoncesContainer {
  width: 20%;
  padding: 10px;
  margin-left: 40px;
  background-color: silver;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.annonceBtn {
  /* todo:change de color de sorte a adapter les boutton */
}
