{% extends 'base.html.twig' %}

{% block title %}Annonces admin{% endblock %}
{# <script src="{{ asset('build/app.js') }}"></script> #}
{% block body %}
<script>
    var userA = {{ Annonces| json_encode |raw }};
</script>
<div id="root"></div>
{% endblock %}
